.gradle/
build/
**/build/
.idea/
*.iml
local.properties
.cxx/
.externalNativeBuild/
captures/
*.apk
*.ap_
*.aab
build-native/
build-native-tests/
build-lokal/
.DS_Store
__pycache__/
*.pyc
*.o
*.a
*.so
*.dll
*.exe
!gradle/wrapper/gradle-wrapper.jar
.kotlin/
app/.cxx/
*.log
*.orig
.vscode/
.cursor/
